* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display:flex; /* se não fosse display flex o justify-content não iria aplicar*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(170, 170, 170, 0.466);
    border-radius:10px;
    color:white;
    padding:30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.596);
    backdrop-filter: blur(10px);
}

.container > form > h1 /* ou só usa .container h1 que tambem funciona */ {
    font-size: 36px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin:30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(170, 170, 170, 0.466);
    border-radius: 40px;
    outline: none; /* isso é quando vc clica a linha que voce clicou vai ficar azul*/
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 20px 25px 20px 30px
}

.input-box input::placeholder {
    color: rgb(231, 231, 231);
    
}

.input-box i {
    position: absolute; /* usamos isso por que queremos posicionar ele em um ponto especifico */
    left: 9px ; /* somente com o position absolute */
    font-size: 20px;
    top: 50%; /*  tava para usar somente o top com a medida 29 mas para deixar exatamente no centro é melhor usar o trasform*/
    transform: translateY(-50%);
}

.lembrar {
    display:flex;
    justify-content:space-between ; /* vai jogar cada um para um lado */
    margin: -15px 0 15px; /* 0px em cima e embaixo*/
}


.lembrar a {
    text-decoration: none;
    color:white
}

.lembrar a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: 0 0 10px (0, 0, 0, .1);
    
}

button:hover {
    background-color: transparent;
    border:2px solid rgba(170, 170, 170, 0.466);
    color:white;
    transition: 0.3s;
    
}

.regisrar-se {
    font-size:15px;
    text-align: center;
    margin:20px 0 15px;
}

.regisrar-se a {
    color:white;
    text-decoration: none;
}

.regisrar-se a:hover {
   color:aqua;
   text-decoration: underline;
}